<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link id="spectre" rel="stylesheet" href="{{ prefix }}/static/style/spectre.min.css">

        <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://unpkg.com/@antonz/runno@0.6.1/dist/runno.js"></script>
        <script src="https://unpkg.com/@antonz/codapi@0.12.0/dist/engine/wasi.js"></script>
        <!-- <script src="https://unpkg.com/@antonz/codapi@0.12.0/dist/snippet.js"></script> -->
        <script src="{{ prefix }}/static/script/codapi/snippet.js"></script>
        <script>
            var dark_css_path = "{{ prefix }}/static/style/spectre_dark.min.css";
            var light_css_path = "{{ prefix }}/static/style/spectre.min.css";
        </script>
        <script src="{{ prefix }}/static/script/color_theme.js"></script>
        <script src="{{ prefix }}/static/script/opencoder.js"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ prefix }}/static/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ prefix }}/static/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ prefix }}/static/favicon_io/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ prefix }}/static/favicon_io/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="512x512" href="{{ prefix }}/static/favicon_io/android-chrome-512x512.png">

    </head>
    <body>
        <div class="main container grid-lg">
            <header class="navbar">
                <section class="navbar-section">
                </section>
                <section class="navbar-section">
                    <label class="form-switch">
                        <input type="checkbox" onclick="switch_color_theme();">
                        <i class="form-icon"></i> <p id="moon"></p>
                    </label>
                </section>
            </header>
            <header class="column col-sm-12 col-md-10 col-8">
                <h1>Welcome to OpenCoder!</h1>
            </header>
                
            <main class="content columns">
                <div id="main_div" class="column col-sm-12 col-md-10 col-8">
                    <div class="columns">
                        <div class="column col-9">
                            <span id="copy" class="label label-rounded label-secondary c-hand" onclick="oc_copy_link();">Click to copy</span> and share this link to start coding together!
                        </div>
                        <div class="column col-3 text-right">
                            <select id="select_lang" class="form-select select-sm">
                                <option>Python</option>
                                <option>Lua</option>
                                <option>Ruby</option>
                                <option>Javascript</option>
                            </select>
                        </div>
                    </div>
                    <pre class="code"><code id="board" class="language-python" data-lang="python">print("hello")</code></pre>
                    <codapi-snippet engine="wasi" sandbox="python" editor="basic"></codapi-snippet>
                </div>
                <div class="column col-sm-12 col-md-2 col-4">
                    
                </div>
            </main>
        </div>
    </body>
</html>
