<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link id="spectre" rel="stylesheet" href="{{ prefix }}/static/style/spectre.css">

        <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://unpkg.com/@antonz/runno@0.6.1/dist/runno.js"></script>
        <script src="https://unpkg.com/@antonz/codapi@0.12.0/dist/engine/wasi.js"></script>
        <!-- <script src="https://unpkg.com/@antonz/codapi@0.12.0/dist/snippet.js"></script> -->
        <script src="{{ prefix }}/static/script/codapi/snippet.js"></script>
        <script src="{{ prefix }}/static/script/color_theme.js"></script>
        <script src="{{ prefix }}/static/script/opencoder.js"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ prefix }}/static/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ prefix }}/static/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ prefix }}/static/favicon_io/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ prefix }}/static/favicon_io/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="512x512" href="{{ prefix }}/static/favicon_io/android-chrome-512x512.png">

    </head>
    <body>
        <div class="main container grid-lg">
            <header class="navbar">
                <section class="navbar-section">
                </section>
                <section class="navbar-section">
                    <a class="icon" href="https://github.com/KevinXuxuxu/opencoder" style="margin-bottom: 18px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2"/></svg>
                    </a>
                    &nbsp;&nbsp;
                    <label class="form-switch">
                        <input id="theme-checkbox" type="checkbox" onclick="switch_color_theme();">
                        <i class="form-icon"></i> <p id="moon"></p>
                    </label>
                </section>
            </header>
            <header class="column col-sm-12 col-md-10 col-8">
                <h1>Welcome to OpenCoder!</h1>
            </header>
                
            <main class="content columns">
                <div id="main_div" class="column col-sm-12 col-md-10 col-8">
                    <div class="columns">
                        <div class="column col-9">
                            <span id="copy" class="label label-rounded label-secondary c-hand" onclick="oc_copy_link();">Click to copy</span> and share this link to start coding together!
                        </div>
                        <div class="column col-3 text-right">
                            <select id="select_lang" class="form-select select-sm">
                                <option>Python</option>
                                <option>Lua</option>
                                <option>Ruby</option>
                                <option>Javascript</option>
                            </select>
                        </div>
                    </div>
                    <pre class="code"><code id="board" class="language-python" data-lang="python">print("hello")</code></pre>
                    <codapi-snippet engine="wasi" sandbox="python" editor="basic"></codapi-snippet>
                </div>
                <div class="column col-sm-12 col-md-2 col-4">
                    
                </div>
            </main>
        </div>
    </body>
</html>
